/Makefile
autom4te.cache/*
*.o
.deps/*
.deps
stamp-h1
config.h
config.log
config.status
config.h.in~
Makefile.in
aclocal.m4
config.h.in
compile
configure
depcomp
install-sh
missing
VERSION
build
examples2
.gdbinit*
TODO.md
mkinstalldirs
vs2
.nvimrc
.vimrc
*.TMP
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode
configure.ac.save

