work
results
*.z
*.hex
*.out
*.csv
temp
*.bin.save
g
input/periods.bin
aal_p1.bin
*.save
ben.py
fg_runme.sh
tmp
lecfmcalc_example.py
lecgulcalc_example.py
genbigitems.py
P1.bin
getmodel.bin
gul_mode2_items2.bin
log
!static/validation/*
