Makefile
.vscode
fg_runme.sh
aalsummary/
aggregateitemtobin/
aggregateitemtocsv/
areaperildisaggtobin/
areaperildisaggtocsv/
disaggregationweighttobin/
disaggregationweighttocsv/
vulnerabilitydisaggtobin/
vulnerabilitydisaggtocsv/
xfmcalc/
